:root {
  --primary: #0288d1;
  --background: #282c34;
  --background-dark: #1c1f25;
  --text: #fefefe;
  --money: #21b71e;
  --commit: #ef9815;
  --medium: #9bdcff;
  --danger: #ff7373;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Fira Mono', monospace;
  color: var(--text);

  background-color: var(--background);
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.root {
  width: 100vw;
  height: 100vh;

  font-size: 1.4rem;
}
